* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box; }

.login-container {
  width: 100%;
  height: 100vh;
  display: flex; }
  .login-container.left {
    width: 40%;
    background-image: url("../assets/images/background_image.png"), linear-gradient(102deg, #c468ff 0%, #6e91f6);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .login-container.left .content-left {
      padding-bottom: 126px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .login-container.left .content-left .buttons {
        padding-top: 40px;
        display: flex; }
        .login-container.left .content-left .buttons button {
          width: 126px;
          height: 40px;
          background-color: transparent;
          border-radius: 100px;
          border: solid 2px rgba(255, 255, 255, 0.2);
          cursor: pointer; }
    .login-container.left .icons {
      padding-bottom: 100px;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .login-container.left .icons div i[class*='fab'] {
        color: #726dcf;
        padding-bottom: rem(42px);
        width: 40px;
        height: 40px;
        opacity: 0.5;
        background-color: #ffffff;
        display: flex;
        border-radius: 50%;
        margin: 0px 8px 0px; }
    .login-container.left .legal {
      width: rem(189px);
      height: rem(14px);
      font-family: Roboto;
      font-size: rem(12px);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      padding-bottom: 40px; }
    .login-container.left h1 {
      padding: 15px 0px 25px;
      color: #ffffff;
      font-weight: normal;
      font-size: rem(30px); }
    .login-container.left p {
      width: 274.5px;
      height: 48px;
      opacity: 0.6;
      font-size: rem(16px);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff; }
  .login-container span {
    width: 189px;
    height: 14px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; }
  .login-container i {
    display: flex;
    align-items: center;
    justify-content: center; }
  .login-container.right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    .login-container.right .login-container-top {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 51px;
      align-items: baseline; }
      .login-container.right .login-container-top p {
        width: 165px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        text-align: right;
        padding-right: 14px; }
      .login-container.right .login-container-top button {
        color: #000000;
        width: 120px;
        height: 40px;
        border-radius: 30px;
        box-shadow: 0 10px 30px 0 var(--black-7);
        border: solid 2px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        font-family: Roboto;
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        text-align: center; }
    .login-container.right .login-container-bottom {
      padding-top: 141px;
      display: flex;
      flex-direction: column; }
      .login-container.right .login-container-bottom h1 {
        font-size: 40px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center; }
      .login-container.right .login-container-bottom form {
        padding-top: 64px; }
      .login-container.right .login-container-bottom .input-field-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .login-container.right .login-container-bottom .input-field-wrapper .input-field {
          width: 340px;
          margin-bottom: 42.5px;
          padding-bottom: 13px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          border-bottom: 2px solid rgba(0, 0, 0, 0.2); }
          .login-container.right .login-container-bottom .input-field-wrapper .input-field img {
            padding-right: 21px; }
          .login-container.right .login-container-bottom .input-field-wrapper .input-field input {
            text-transform: capitalize;
            font-size: 16px;
            outline: none;
            border: none; }
          .login-container.right .login-container-bottom .input-field-wrapper .input-field input::placeholder {
            color: #000000; }
      .login-container.right .login-container-bottom .button-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 167px 0px 128px; }
        .login-container.right .login-container-bottom .button-wrapper button {
          width: 260px;
          height: 60px;
          border-radius: 30px;
          box-shadow: 0 10px 30px 0 var(--black-7);
          background-image: linear-gradient(102deg, #c468ff 0%, #6e91f6);
          color: #ffffff;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 1px; }
